* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div1 {
  height: 200px;
  width: 100%;
  background-image: url(./chapter6_exercise/img/box1.jpg);
  background-size: cover;
  background-position: center;
}
.div2 {
  height: 200px;
  width: 100%;
  background-image: url(./chapter6_exercise/img/box2.jpg);
  background-size: cover;
  background-position: center;
}
.div3 {
  height: 200px;
  width: 100%;
  background-image: url(./chapter6_exercise/img/box3.jpg);
  background-size: cover;
  background-position: center;
}
.div4 {
  height: 200px;
  width: 100%;
  background-image: url(./chapter6_exercise/img/box4.jpg);
  background-size: cover;
  background-position: center;
}
