* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

.heading {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-list {
  width: 100%;
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

.list-item {
  display: inline-block;
  margin-right: 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: white;
  /* margin-left: 0; */
}
.main-visual-name {
  color: white;
  margin-top: 30px;
}
